version: "3.8"
services:
  postgres:
    image: "postgres:latest"
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PGDATA=${PGDATA}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - "./postgres:/var/lib/postgresql/data"
      - ./sql:/docker-entrypoint-initdb.d/
    networks: 
      - shifunet 
    restart: "unless-stopped"
  redis:
    container_name: redis
    image: "redis:alpine"
    ports:
      - "6379:6379"
    volumes:
      - ./redis:/data
    networks: 
      - shifunet 
    restart: "unless-stopped"
  shifu_api:
    container_name: shifu_api
    hostname: shifu_api
    build: .
    command: bash -c "gunicorn shifu.wsgi:application --bind 0.0.0.0:9000"
    volumes:
      - .:/code
    ports:
      - "9000:9000"
    restart: "unless-stopped"
    environment:
      - POSTGRES_USERNAME=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - BROKER_URL=${BROKER_URL}
      - BROKER_USER=${BROKER_USER}
      - BROKER_PASSWORD=${BROKER_PASSWORD}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
      - RPC_ENDPOINT=${RPC_ENDPOINT}
      - RESTFUL_ENDPOINT=${RESTFUL_ENDPOINT}
      - SECRET_KEY=${SECRET_KEY}
    networks: 
      - shifunet 
  shifu_controller:
    container_name: shifu_controller
    hostname: shifu_controller
    build: .
    command: bash -c "python /code/manage.py makemigrations admin auth contenttypes sessions web --noinput && python /code/manage.py migrate --noinput && python /code/manage.py collectstatic --no-input && python manage.py start_crawler"
    volumes:
      - .:/code
    restart: "unless-stopped"
    environment:
      - POSTGRES_USERNAME=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - BROKER_URL=${BROKER_URL}
      - BROKER_USER=${BROKER_USER}
      - BROKER_PASSWORD=${BROKER_PASSWORD}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
      - RPC_ENDPOINT=${RPC_ENDPOINT}
      - RESTFUL_ENDPOINT=${RESTFUL_ENDPOINT}
      - SECRET_KEY=${SECRET_KEY}
    networks: 
      - shifunet 
networks:
    shifunet:
      external: true
