{% extends 'base.html' %}
{% block content %}

<div class="height-100v d-flex align-items-center justify-content-center">

    <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <div class="text-center">

                        <h1 class="error-title text-white"> 400</h1>

                        <h2 class="error-sub-title text-white">Internal server error</h2>



                        <p class="error-message text-white text-uppercase">Please try after some time</p>

                        

                        <div class="mt-4">

                          <a href="/" class="btn btn-light btn-round m-1">Go To Home </a>

                        </div>

                    </div>

                </div>

            </div>

          </div>

        </div>

{% endblock %}